.z-menu {
  display: flex;
  font-size: $--menu-font-size;
  &--vertical {
    flex-direction: column;
    min-width: 200px;
    min-height: 400px;
    border-radius: 20px;
    padding: $--menu-vertical-padding-y $--menu-vertical-padding-x;
    position: relative;
    background: $--menu-vertical-background;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: inherit;
      outline: $--menu-item-border-width solid $--menu-vertical-border-color;
      border-style: solid;
      border-color: $--color-black;
      border-top-width: calc($--menu-vertical-affix-height + 2 * $--menu-vertical-padding-y);
      border-right-width: $--menu-vertical-padding-x;
      border-bottom-width: calc($--menu-vertical-affix-height + 2 * $--menu-vertical-padding-y);
      border-left-width: $--menu-vertical-padding-x;
      pointer-events: none;
    }
  }
  &__scrollbar {
    flex: 1;
    margin: $--menu-vertical-padding-y 0;
    border-radius: 10px;
    outline: $--menu-vertical-padding-x solid $--color-black;
  }
  &__content {
    padding: 20px $--menu-vertical-padding-y;
    .z-menu__item {
      &:not(.is-active):active {
        color: $--menu-item-active-color;
      }
      &.is-active {
        color: $--color-black;
        animation: z_ani_background $--animate-color-duration $--animate-color-bezier infinite alternate;
      }
    }
  }
  &__prefix,
  &__suffix {
    margin: 0 2px;
    height: $--menu-vertical-affix-height;
    border-radius: $--round-border-radius;
    background: $--menu-vertical-affix-background;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 1px 3px $--menu-vertical-affix-shadow;
    position: relative;
    z-index: 1;
    >[class*=z-icon-] {
      color: $--color-black;
      text-shadow: -1px 0 $--menu-vertical-affix-shadow;
      transform: scaleX(1.8);
    }
  }
  &__sub {
    height: 0;
    overflow: hidden;
    padding: 0 $--menu-vertical-padding-x;
    &.is-open {
      height: auto;
    }
    .z-menu__item {
      min-height: 40px;
      color: $--menu-sub-color;
      border: 3px solid transparent;
      &::after {
        background: transparent;
      }
      &:not(.is-active):active {
        color: $--menu-item-active-color;
      }
      &.is-active {
        color: $--menu-sub-color;
        animation: z_ani_border_color $--animate-color-duration $--animate-color-bezier infinite alternate;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    min-height: 46px;
    padding: 6px 20px;
    border-radius: 6px;
    position: relative;
    margin-bottom: $--menu-item-border-width;
    cursor: pointer;
    user-select: none;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
      width: 100%;
      height: $--menu-item-border-width;
      border-radius: $--round-border-radius;
      background: $--menu-item-border-color;
    }
    :deep([class*=z-icon-]+*),
    :deep(*+[class*=z-icon-]) {
      margin-left: 10px;
    }
    &.is-disabled {
      color: $--menu-item-disabled-color;
      cursor: not-allowed;
      &:not(.is-active):active {
        color: $--menu-item-disabled-color;
      }
    }
  }
  &__icon {
    font-size: $--menu-icon-size;
  }
}